@import "base/variables";

// foundation
@import "base/variables";
@import "base/common";
@import "components/browser";
@import "pages/loginPage";
@import "pages/homePage";
@import "pages/homePage";

@import "components/browseFile";
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../../node_modules/react-tagsinput/react-tagsinput.css';
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  line-height: 125%;
}
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}