.home-page{
  .logout{
    width: 5%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    color: white;
    background-color: $normal-blue;
    ;
    height: 39px;
    padding-top: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  .tags-search,.description-search{
    overflow: auto;
    height: 40px;
    max-height: 40px;
    border-radius: 0px!important;
  }

  .nav-tabs{
    width:95%;
    background-color: $normal-blue;
    li{
      background-color: $dark-blue;
      a{
        &:active,&:hover,&:focus,&:visited,&:link {
          background-color: $dark-blue;
          color: white;
          font-weight: normal;
          border:none;
        }
        background-color: $dark-blue;
        color: white;
        font-weight: normal;
        border:none;
      }
      &:active,&:hover,&:focus,&:visited,&:link{
        background-color: $dark-blue;
        a{
          border:none;

          background-color: $dark-blue;
          color: white;
          font-weight: normal;
        }
      }
      color: white;
      font-weight: normal;

    }
    .active{
      background-color: $light-blue;

      a{
        background-color: $light-blue;
        color: white;
        font-weight: bold;
        border:none;
        &:active,&:hover,&:focus,&:visited,&:link {
          background-color: $light-blue;
          color: white;
          font-weight: bold;
          border:none;
        }
        }
      &:active,&:hover,&:focus,&:visited,&:link{
        background-color: $light-blue;
        a{
          border:none;

          background-color: $light-blue;
          color: white;
          font-weight: bold;
        }
      }
      color: white;
      font-weight: bold;
    }

  }

  position: absolute;
  width: 100%;
  height:100%;

  .filter-div{
    height: 300px;
    background-color: red;
  }
  .files-container{
    height: 300px;
    background-color: grey;
  }
  .browse-files-search{

  }

}
