.home-page{
  .tags-search,.description-search{
    overflow: auto;
    height: 40px;
    max-height: 40px;
    border-radius: 0px!important;
  }
  .nav-tabs{
    background-color: $normal-blue;
    li{
      background-color: $dark-blue;
      a{
        &:active,&:hover,&:focus,&:visited,&:link {
          background-color: $dark-blue;
          color: white;
          font-weight: normal;
          border:none;
        }
        background-color: $dark-blue;
        color: white;
        font-weight: normal;
        border:none;
      }
      &:active,&:hover,&:focus,&:visited,&:link{
        background-color: $dark-blue;
        a{
          border:none;

          background-color: $dark-blue;
          color: white;
          font-weight: normal;
        }
      }
      color: white;
      font-weight: normal;
      &:last-of-type{
        float: right!important;
      }
    }
    .active{
      background-color: $light-blue;

      a{
        background-color: $light-blue;
        color: white;
        font-weight: bold;
        border:none;
        &:active,&:hover,&:focus,&:visited,&:link {
          background-color: $light-blue;
          color: white;
          font-weight: bold;
          border:none;
        }
        }
      &:active,&:hover,&:focus,&:visited,&:link{
        background-color: $light-blue;
        a{
          border:none;

          background-color: $light-blue;
          color: white;
          font-weight: bold;
        }
      }
      color: white;
      font-weight: bold;
    }

  }

  position: absolute;
  width: 100%;
  height:100%;

  .filter-div{
    height: 300px;
    background-color: red;
  }
  .files-container{
    height: 300px;
    background-color: grey;
  }
  .browse-files-search{

  }

}
